* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.Nav-bar {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    position: sticky;
    top: 0%;
    z-index: 1;
    border-bottom: 1px solid tomato;
    
}

html {
    scroll-behavior: smooth;
}

.logo {
    color: white;
    font-size: 1.5rem;
}

ul  {
    display: flex;
    gap: 20px;
}

ul li  a{
    width: 35%;
    color: grey;
    padding: 10px;   
}

 li  a:hover {
color: white;

}

.drop {
    position: absolute;
    top: 70px;
    border: 1px solid gray;
    background-color: black;
    width: 200px;
    padding: 20px;
    
    display: none;

}
.drop > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0%;
} 

.drop > ul > li a {
    color: blueviolet;
}

.drop > ul > li {
    padding: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC107;
}

    li:hover .drop{
    display: block;
    color: black;
  }

  .mobilemenu {
    display: flex;
    flex-direction: column;
    display: none;

  }

  .bar{
    width: 20px;
    height: 2px;
    margin: 5px;
    background-color: white;
  }

  .container {
    background-image: url(/asset/DOG\ BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    transition: 0.3s ease-in-out;
}





.box {
    width: 50%;
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
     
 }
 .box  h1 {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 3.0rem;
     font-weight: bolder;
 }
 
 .box  P {
 text-align: center;
 font-size: 1.3rem;
 }
 
 button {
     width: 20%;
     height: 40px;
     outline: none;
     border: 1px solid white;
     margin-top: 10px;
     color: white;
     background-color: initial;
 }
 
 button:hover {
     background-color: white;
     color: black;
 }
 .container-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 10%;
    justify-content: center; 
    background-color: white;   
}

   

h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
}
.box1  {
    width: 50%;
    height: 500px;
    gap: 10%;
    margin: 10px;
    
}

.box2 {
    width: 36%;
    height: 500px;
    gap: 10%;
    margin: 10px;
}

.box2 p {
    font-size: 1.3rem;
    color: gray;  
}


.container3 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-1 {
    width: 38%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}

.container3  h1 {
    font-weight: bold;
    font-size: 2.0rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container3  p {
color: gray;
text-align: center;
}

.box-2 {
    width: 50% ;
    height: 500px;
    display: flex;
    margin: 10px;

    
  
}

.box-2 img {
    width: 100% ;
    height: 500px; 
     
}

.container-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-3 .box-2 {
    overflow: hidden;
}


.box-2:hover img  {
    transform: scale(2, 2);
      
    transition: 1.9s ease-in-out;

}

.container-4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

.container-4  .box-1 {
        width: 38%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        
    }
    .container-4  p {
        color: gray;
        text-align: center;
        }
        
              .box5{
                    width: 250px;
                    height: 250px;
                } 
                
                .box5  img  {
                    width: 100%;
                    height: 250px;
                    transition: 0.5s ease-in-out;
                }
                
                .container-5 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }


                
                .container-6  {
                    width: 100%;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .container-6  .box-1  {
                    width: 45%;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    
                }

                .container-6  .box-1  h1 {
                    font-weight: bold;
                    font-size: 2.0rem;
                    font-family: Arial, Helvetica, sans-serif;
                }

                .container-6  .box-1 p {
                    font-size: 1.3rem;
                    color: gray;  
                }

                .blog {
                    width: 100%;
                    height: 500px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }

                .blog  .box1  {
                    width: 30%;
                    height: 400px;
                    
                }

                

                .blog  .box2 {
                    
                    width: 30%;
                    height: 400px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .blog  .box2  h3 {
                    color: #FFC107;
                    font-family: Arial, Helvetica, sans-serif;
                }

                .blog  .box2  button {
                    width: 30%;
                    height: 40px;
                    background-color: #FFC107;
                }

                .blog  .box2  button:hover {
                    background-color: #FFC107;
                    color: white;
                    cursor: pointer;
                }
                .blog  .box3 {
                    width: 30%;
                    height: 400px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 10px;
                }

                .blog  .box3  .box {
                    width: 50%;
                    height: 150px;
                    display: flex;
                

                }

                .blog  .box3  .box  img {
                    width: 100%;
                    height: 150px;
                }

                .footer {
                    width: 100%;
                    height: 400px;
                    background-color: black;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                }
                
.bbox  {
    width: 100%;
    height: 350px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news {
    width: 50%;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}

.social {
    width: 50%;
    height: 40%;

    display: flex;
    gap: 10px;

}
h4 {
    color: white;
 }

span {
width: 50%;
height: 100%;
border-radius: 100%;
border: 1px solid gray;
margin-top: 30px;
display: flex;
justify-content: center;
align-items: center;
}


p {
    color: lightgrey;
}             

        
 h1 {
    color: white;
 }      

 a {
    color: #FFC107;
 }

 .con {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 }

span  .fa-brands {
font-size: 2.0rem;
    color:  #FFC107;
 }
span:hover   {
    background-color: white;
    color: black;
 }

 .fa-brands:hover {
    color: black;
 }


 .blog .box1  img {
    
    height: 400px;
 }

 



  @media screen and (max-width: 650px) {

    .mobilemenu {
        display: block;
    margin-right: 10px;
      }


      
  .Nav-bar {
    width: 100%;
   justify-content: space-between; 
   border-bottom: 3px solid tomato; 

  }

  .Nav-bar  .logo {
    margin-left: 10px;
  }
  
  ul {
    position: absolute;
    top: 60px;
    background-color: black;
    width: 100%;
    flex-direction: column;
}

  ul  li {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
  }  
  
  .container {
    background-size: contain;
    height: 300px;
    width: 100%;
    flex-direction: column;


    
  }

  
    
.box {
    width: 95%;
  height: 100px;
  
     
 }

 .box  P {
    text-align: center;
    font-size: 0.8rem;
    }

    
 button {
    margin-bottom: 20px;
    width: 40%;
    outline: none;
    border: 1px solid white;
    
    font-size: 1.0rem;
    padding: 10px;
}



.container-2 {
    flex-direction: column;
}
.box1 {
    
    width: 100%;
    margin: 0%;
    margin-top: 300px;
    
}

.box1  img  {
    
    width: 100%;
    margin-top: 50px;
}

 .container-2  .box2 {
    width: 81%;

    
    
}

.container3 {
    flex-direction: column;
    margin-top: 900px;
    
}

.box-1 {
    width: 100%;
    
}

.box-1  h1 {
    font-size: 1.5rem;
    
}

.container-3 {
    flex-direction: column;
    
    
}


.container-3 .box-2 {
    width: 100%;
    background-color: greenyellow;
    
    
}

.container-4 {
   margin-top: 500px; 
    
}

.container-4   .box-1 {
    width: 100%;    
}
   .container-6 {
    
    flex-direction: column;
   } 
  
   .container-6   .box-1 {
    width: 100%;
}
.blog {
    flex-direction: column;
    width: 100%;
}
.blog  .box1  {
    margin-top: 550px;
    width: 100%;
}
.blog  .box2 {
    margin-top: 150px;
    width: 97%;
    
}
.blog  .box2  button {
    width: 40%;
}



.blog  .box3   {
    width: 90%;

    align-items: center;

}
.blog  .box3  .box {
    width: 90%;
}

.footer {
    margin-top: 650px;
    flex-direction: column;
    height: fit-content;

}
.footer  .bbox {
    width: 97%;
    
    flex-direction: column;
    height: fit-content;

}
.footer  .bbox  .news{
    width: 100%;
    height: fit-content;
    flex-direction: column;
    
}

.social {
    height: 50px;
    justify-content: center;
    align-items: center;

}

.con {
    width: 100%;
    height: 100px;
    
}



  }